<!DOCTYPE html>
<html ng-app="bookDirectory">
<head>
    <title>Book Directory</title>
   <link rel="stylesheet" href="styles.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="BookController as bookCtrl">
    <h1>Book Directory</h1>
    <form name="addBookForm">
        <input type="text" ng-model="bookCtrl.newBook.title" placeholder="Title" required>
        <input type="text" ng-model="bookCtrl.newBook.author" placeholder="Author" required>
        <input type="text" ng-model="bookCtrl.newBook.genre" placeholder="Genre">
        <input type="number" ng-model="bookCtrl.newBook.publicationYear" placeholder="Publication Year">
        <input type="text" ng-model="bookCtrl.newBook.isbn" placeholder="ISBN">
        <button ng-disabled="addBookForm.$invalid" ng-click="bookCtrl.addBook()">Add Book</button>
    </form>
    <div class="book-list">
        <div class="book" ng-repeat="book in bookCtrl.books">
            <h2>{{book.title}}</h2>
            <p>Author: {{book.author}}</p>
            <p>Genre: {{book.genre}}</p>
            <p>Publication Year: {{book.publicationYear}}</p>
            <p>ISBN: {{book.isbn}}</p>
            <button class="edit-button" ng-click="bookCtrl.editBook(book)">Edit</button>
            <span class="remove-button" ng-click="bookCtrl.removeBook($index)">Remove</span>
        </div>
    </div>

    <script src="book.js"></script>
</body>
</html>
